var formatDate = function (timestamp, option) {
  if (!timestamp) {
    return '';
  };
  var reg = getRegExp("-", "g");

  var date = getDate(timestamp.replace(reg, '/'));

  var year = date.getFullYear();
  var month = date.getMonth() + 1;
  var day = date.getDate();
  var hour = function () {
    return date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
  }
  var minute = function () {
    return date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
  }
  var second = function () {
    return date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
  }

  if (option == 'YY-MM-DD') return " " + year + "-" + month + "-" + day;

  if (option == 'YY-MM') return " " + year + "-" + month;

  if (option == 'YY') return " " + year;

  if (option == 'MM') return " " + month;

  if (option == 'DD') return " " + day;

  if (option == 'yesterday') return " " + day - 1;

  if (option == 'hh-mm-ss') return " " + hour() + ":" + minute() + ":" + second();
  if (option == 'hh-mm') return " " + hour() + ":" + minute();
  if (option == 'mm-ss') return minute() + ":" + second();
  if (option == 'mm') return minute();
  if (option == 'ss') return second();
  if (option == 'yyyy年MM月DD日') return " " + year + "年" + month + "月" + day + "日";
  if (option == 'HH:mm') return " " + hour() + ":" + minute();
  return year + '-' + month + '-' + day + ' ' + hour() + ':' + minute() + ":" + second();
};
var formatNumber = function (n) {
  n = n.toString();
  return n[1] ? n : "0" + n
};
var timeago = function (time) {
  var reg = getRegExp("-", "g");
  timestamp = time.replace(reg, '/');
  var date = getDate(timestamp),
    // 获取date 中的 年 月 日 时 分 秒
    Y = date.getFullYear(),
    M = date.getMonth() + 1,
    D = date.getDate(),
    H = date.getHours(),
    m = date.getMinutes(),
    s = date.getSeconds(),
    now = getDate(),
    nowY = now.getFullYear(),
    nowM = now.getMonth() + 1,
    nowD = now.getDate()

  yesterday = getDate(now.getTime() - 86400000);
  yY = yesterday.getFullYear(),
    yM = yesterday.getMonth() + 1,
    yD = yesterday.getDate();

  if (Y == nowY && M == nowM && D == nowD) {
    return (H < 12 ? "上午 " : "下午 ") + formatNumber(H) + ":" + formatNumber(m) + ":" + formatNumber(s);
  }
  //if yesterday
  if (Y == yY && M == yM && D == yD) {
    return "昨天 " + formatNumber(H) + ":" + formatNumber(m) + ":" + formatNumber(s);
  }
  return time;
}
function includes(arr = [], item) {
  if (arr == null) return false;
  return arr.indexOf(item + "") > -1;
}

function showPrice(price) {
  return (price / 100).toFixed(2);
}


module.exports = {
  formatDate: formatDate,
  timeago: timeago,
  includes: includes,
  showPrice:showPrice
};